.chat-side
  .chat-side__header
    .chat-side__header__list
      .chat-side__header__list__user-name
        まさ
      .chat-side__header__list__menu
        .chat-side__header__list__menu__top-items
          = link_to "#" do
            = icon('fas', 'edit')
          =link_to "#" do
            = icon('fas', 'cog')

  .chat-side__body
    =link_to "#", class:"body" do
      .chat-side__body__group
        %p.chat-side__body__group__name
          test
        %p.chat-side__body__group__latest-message
          まだメッセージはありません
-#   .side-bar__user-name
-# .top-items
-#   .top-items1
-# .top-items__icons
